/* FollowJS */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #1e2328;
    background-color: #ffffff;
    font-size: 1rem;
    line-height: 1.5;
    font-family: system-ui, -apple-system, "Segoe UI Variable", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}
.container-fluid {
    height: 100vh;
}
.hidden {
    display: none !important;
}
.hiddenVis {
    visibility: hidden !important;
}

.blink {
    animation: blink 1500ms step-end infinite;
}
@keyframes blink {
    50% { opacity: 0.2 }
}
.electronDragRegion {
    -webkit-app-region: drag;
}
.lh200 {
    line-height: 200px !important;
}

#outerArea {
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: #1e2328;
}

#mainDrawArea {
    width: 95vw;
    height: fit-content;
    aspect-ratio: 16/9;
    border: .25rem solid #762551;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    top: 2.5vw;
    left: 50%;
    transform: translate(-50%,0);
    /*cursor: crosshair;*/
}

.webcam {
    width: 100%;
    height: 100%;
}

#mainWebcamImage {
    position: absolute;
    top: 0;
    left: 0;
}

.gridOverlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
}

.spotMarker {
    position: absolute;
    transform: translate(-50%,-50%);
    transform-origin: center;
    top: 0;
    left: 0;
    overflow: visible;
}

.textInputOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2rem;
    transform: translate(-50%,-50%);
    background-color: #b43a79;
    border: .5rem solid #762551FF;
    border-radius: 1rem;
    z-index: 1005;
}

.cameraImageHugeWarningTextOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #762551AA;
    /*color: #ced4da;*/
    width: max-content;
    height: 5rem;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px rgba(45, 14, 32, 0.67);
    font-family: sans-serif;
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem 2rem 1rem 2rem;
    z-index: 1000;
    animation: moveX 21s linear 0s infinite alternate, moveY 16s linear 0s infinite alternate;
    pointer-events: none;
}

@keyframes moveX {
    from {left: 0%; transform: translateX(0);}
    to {left: 100%; transform: translateX(-100%);}
}
@keyframes moveY {
    from {top: 0%;}
    to {top: calc(100% - 5rem);}
}

@keyframes pulseAnimation {
    from { opacity: 1; }
    50%  { opacity: 0.4; }
    to   { opacity: 1; }
}

@keyframes blinkOpacityAnimation {
    50% {
        opacity: 0.2;
    }
}

.blinkOpacity {
    animation: blinkOpacityAnimation 1s linear infinite;
}

.spotContextMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #762551CC;
    color: #cccccc;
    z-index: 900;
    box-sizing: border-box;
    text-align: left;
}

.spotContextMenu div {
    padding-left: 1rem;
    padding-right: 1rem;
}
.spotContextMenu div:first-child {
    font-weight: bold;
    border-bottom: 2px solid grey;
}

.spotContextMenuHighlight {
    background-color: #ff0000ff;
    border-bottom: 2px solid #ffaa00;
    border-top: 2px solid #ffaa00;
    margin: -2px 0 -2px 0;
}

.spotStatusOverlayArea {
    position: absolute;
    transform: translate(-50%,-100%);
    left: 50%;
    top: calc(100% - 5vh);
    z-index: 100;
    width: fit-content;
    pointer-events: none;
    align-items: start;
    display: flex;
    flex-wrap: wrap;
}

.spotStatusOverlayGroup {
    border: .25rem solid #762551;
    padding: 0;
    margin-right: 1rem;
    margin-left: 1rem;
    /*color: #dddddd;*/
}

.spotStatusGauge {
    text-align: left;
    width: 100%;
    overflow: hidden;
    color: #dddddd;
    mix-blend-mode: difference;
    border-right: 3px solid #FF0000;
}

.spotStatusGauge div {
    width: 10rem;
    height: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
}

.spotStatusOverlayDim {
    background: linear-gradient(to right, #000000 0%, #FFFFFF 100%);
}

.spotStatusOverlayColor {
    background: linear-gradient(to right, #ffffff 0%,
    #FF0000 14.9%, #ff0000 21.16%,
    #fcdf56 29.0%, #fcdf56 35.28%,
    #04bb3d 43.14%, #04bb3d 49.4%,
    #0ab7d7 58.04%, #0ab7d7 64.3%,
    #ffaa00 72.16%, #ffaa00 78.42%,
    #2f00cd 86.28%, #2f00cd 92.54%,
    #ffffff 100%);
}
.spotStatusOverlayFocus {
    background: linear-gradient(to right, #1066ffFF 0%, #00448dFF 100%);
}
.spotStatusOverlayFrost {
    background: linear-gradient(to right, #CCCCCCFF 0%, #CCCCCC22 100%);
}

#calibrationMenu {
    position: fixed;
    width: fit-content;
    bottom: 0;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.button-red {
    background-color: orangered;
    border: 1px solid darkred;
    color: white;
    font-weight: bold;
    padding: .25rem;
    border-radius: .4rem;
}

.button-green {
    background-color: darkgreen;
    border: 1px solid lightgreen;
    color: white;
    font-weight: bold;
    padding: .25rem;
    border-radius: .4rem;
}

#dmxFooter {
    margin-bottom: 1em;
    position: fixed;
    transform: translate(-50%,0);
    width: fit-content;
    bottom: 0;
    left: 50%;
    text-align: center;
}

#dmxTable {
    color: #aaaaaa;
    /*table-layout: fixed;*/
    /*width: auto;*/
    border-collapse: collapse;
}

#dmxTableHeader {
    font-weight: bold;
}
#dmxTableHeader td {
    border-bottom: 1px solid #aaaaaa;
}

.barelyVisibleFooter {
    position: fixed;
    bottom: 0;
    right: 0;
    color: #ffffff18;
    padding-right: .2rem;
    padding-bottom: .2rem;
    font-size: .85rem;
    cursor: default;
}
.barelyVisibleFooter:hover {
    color: #008080FF;
}